[Unit]
Description=Runs rabbit server setup
After=rabbitmq-server.service

[Service]
Type=simple
WorkingDirectory=/home/parallel/HAVE-IT490/RabbitMQ
ExecStart=/usr/bin/php /home/parallel/HAVE-IT490/RabbitMQ/testRabbitMQServer.php
Restart=always

[Install]
WantedBy=multi-user.target
