[Unit]
Description=Runs database server setup
After=rabbitmq-server.service

[Service]
Type=simple
WorkingDirectory=/home/parallels/HAVE-IT490/Database
ExecStart=/usr/bin/php /home/parallels/HAVE-IT490/Database/databaseServer.php
Restart=always

[Install]
WantedBy=multi-user.target
