[Unit]
Description=Runs database server setup
After=rabbit.service

[Service]
Type=simple
WorkingDirectory=/home/parallel/HAVE-IT490/Database
ExecStart=/usr/bin/php /home/parallel/HAVE-IT490/Database/databaseServer.php
Restart=always

[Install]
WantedBy=multi-user.target
